<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="upperCase" value="true" />
    <add key="extraCharacters" value="true" />
    <add key="characterOpen" value="[" />
    <add key="characterClose" value="]" />
  </appSettings>
</configuration>